html {
    background-color: #222222;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    width: 100%;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: xxx-large;
    margin: 15px;
}

button {
    all: unset;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#newBook {
    background: white;
    color: black;
    padding: 0px 25px;
    border-radius: 30px;
    margin: 15px 25px 15px 15px;
}

#newBook:hover {
    background: #6F6F6F;
    color: white;
}

.hidden {
    padding: 0px 20px;
    margin: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color:#222222;
}

#form-background {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    display: none;
    flex-direction: column;
    font-size: x-large;
    padding: 0px 30px 30px 30px;
    margin-top: 5%;
    border-radius: 30px;
}

.form-title {
    font-size: 150%;
}

.form-inline {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
}

.input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

input {
    width:100%;
    border-radius: 20px;
    border: 1px solid grey;
    height: 20px;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 80%;
}

input:focus {
    outline: 1px solid black;
}

label {
    white-space: nowrap;
}

.read-question {
    display: flex;
    align-items: end;
    width: 60%;
}

.read-question input {
    outline: none;
    accent-color: black;
    height: 1.5em;
}

.read-question p{
    margin: 0px;
    justify-content: center;
}

.form-button {
    display: flex;
    justify-content: flex-end;
    font-size: large;
}

#addBook{
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    margin-top: 24px;
    display: flex;
    width: 30%;
    justify-content: center;
    padding: 15px 20px;
}

#addBook:hover {
    background-color: #6F6F6F;
}